extends layout

block title
	|Random Imgur Images

block scripts
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js')
	script(src='/js/imgurand.js')

block content
	span.row
		span.span6
			h1 Random Imgur Images
			|This page loads random images from imgur.  Consider this page NSFW. What you will see here may be funny, impressive, shocking, or downright horrifying.  I take no responsibilty for the images that appear here.  All this page does is create random strings and display the result.
	br
	span.row
		span.span12
			span#numImages
				| 0
			| &nbsp;images displayed.
	br
	span.row
		span.span12
			button#start
				|Start Getting Images
			button#stop
				|Stop Getting Images
			button#clear
				|Remove Images
	span.row
		span.span12#images.span12
	br
	br
