extends layout
block title
	|Cuprobot
block content
	div.row
		div.span2
			ul
				li
					img(src="/img/cuprobot_transparent.png")
				li
					a(href="/qr")
						|QR Code Generator
				li
					a(href="/imgurand")
						|Random Imgur Images
		div.span8
