extends layout
block title
     |Cuprobot
block content
    div.row
        div.span11
            h1
                |Sometimes, when you pour enough coffee into the robot, Javascript comes out.
    br
    div.row
        div.span5
            h4
                u
                    |Toys & Tools
            ul

                li
                    a(href="/qr")
                        |QR Code Generator
                li
                    a(href="/imgurand")
                        |Random Imgur Images
        div.span5
            h4
                u
                    |Other Things
            ul

                li
                    |There aren't any other things.
                li
                    |Must be in need of more coffee.
