doctype html
html
	head
		title
			block title
		link(href='/css/bootstrap.min.css' , rel='stylesheet', type='text/css')
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
	body
		script(src='/js/ga.js')
		div.row
			div.span12
				
		block content
		block scripts
