doctype html
html
    head
        title
            block title
        link(href='/css/bootstrap.min.css' , rel='stylesheet', type='text/css')
        meta(name="viewport" content="width=device-width, initial-scale=1")
    body
        div.row
            div.span1
                a(href="/")
                    img(src="/img/cuprobot_transparent.png")        
            div.span11
                block content
        block scripts
        script(src='/js/ga.js')
