extends layout

block title
     |QR Code Generator

block scripts
     script(src='/js/create_code.js')
     script(src='/js/qrcode.js')
     script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js')
     
block content
     br
     form
          fieldset
               div.span7
                    div.row
                         div.span7
                              label Data
                              textarea#txt.span6(rows='3')
                              hr
                    div.row
                         div.span3
                              label Code Number
                              input#codeNumber(type='number',value=4,min=1,max=9)
                              span.help-block A small code number means less cells, but you can encode less data.
                              span.help-block A big code number means more cells, but you can encode more data.
                              hr
                         div.span3
                              label Error Correction Level
                              select#errorCorrect
                                   option L
                                   option M
                                   option Q
                                   option H
                              span.help-block Controls how much of the code can be destroyed, and still be readable.
                              span.help-block L=7% damage, M=15% damage, Q=25% damage, H=30% damage
                              hr
                    div.row
                         div.span3
                              label Cell Size
                              input#cellSize(type='number',value=5,min=1,max=50)
                              span.help-block The size of an individual cell.
                              hr
                         div.span3
                              label Margin
                              input#margin(type='number',value=10,min=1,max=50)
                              span.help-block The size of the border around the code.
                              hr
               div.span3
                    div.row
                         input.btn(type='button',value='Create Code',onclick='update_qrcode()')
                    div.row
                         div#qr
